<div class="container">
  <div class="text-center mt-5">
    <h3>コメント一覧</h3>
  </div>
  <div class="text-center m-4">
    <% if admin_signed_in? %>
      <div class="search_form">
        <%= form_with url: admin_comments_path,local: true, method: :get do |f| %>
          <%= f.text_field :search %>
          <%= f.submit "検索",class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>コメントID</th>
        <th>ユーザー名</th>
        <th>コメント内容</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td style="width:10%"><%= comment.id %></td>
        <td style="width:20%"><%= comment.user.name %></td>
        <td style="width:50%"><%= comment.comment %></td>
        <td style="width:10%">
          <%= link_to "削除する",admin_comment_path(comment.id),method: :delete,class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>