<div class="container mt-5">
  <%= form_with model: @post do |f| %>
  <div class="row">
    <div class="col-md-3">
      <h3><%= f.text_field :name,size:30 %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 h5">
      <%= f.text_field :address,size: 70 %>
    </div>
  </div>
  <div class="row overflow-auto">
    <% if @post.image.attached? %>
      <% @post.image.each do |image| %>
        <%= image_tag image,class: 'my-4 mr-3', size: "200x200" %>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
    <%= f.file_field :image, multiple: true %>
  </div>
  <div class="row">
    <div class="col-md-8 mt-4">
      <%= f.text_area :introduction, size:'90x8' %>
    </div>
    <div class="form-group col-md-4 mt-4">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class="form-check" type="radio">
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <div class="m-3">
      <%= f.submit "更新する",class: 'btn btn-success mr-5' %>
      <%= link_to "削除する",post_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>