<div class="container mt-5">
  <%= form_with model: @post do |f| %>
    <div class="row">
      <div class="col-md-4">
        <h3><%= f.text_field :name,style: "width:100%" %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 h5">
        <%= f.text_field :address,style: "width:100%" %>
      </div>
    </div>

    <div class="d-flex flex-row overflow-auto">
      <% if @post.image.attached? %>
        <% @post.image.each do |image| %>
          <%= image_tag image,class: 'my-4 mr-3 edit-img' %>
        <% end %>
      <% end %>
    </div>

    <div class="text-center my-3">
      <%= f.file_field :image, multiple: true %>
    </div>

    <div class="row">
      <div class="mt-4">
        <%= f.text_area :introduction %>
      </div>
    </div>

    <div class="tag-list">
      <div class="form-group mt-4">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="form-check" type="radio">
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tag-list">
      <div class="form-group mt-4">
        <%= f.collection_check_boxes(:shop_tag_ids, ShopTag.all, :id, :name) do |shop_tag| %>
          <div class="form-check" type="radio">
            <%= shop_tag.label class: 'form-check-label' do %>
              <%= shop_tag.check_box class: 'form-check-input' %>
              <%= shop_tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <table class="table table-borderless">
      <tr>
        <th class="table1">twitter</th>
        <td><%= f.text_area :twitter %></td>
      </tr>
      <tr>
        <th class="table1">facebook</th>
        <td><%= f.text_area :facebook %></td>
      </tr>
      <tr>
        <th class="table1">instagram</th>
        <td><%= f.text_area :instagram %></td>
      </tr>
    </table>

    <div class="text-center">
      <div class="m-3">
        <%= f.submit "更新する",class: 'btn btn-success mr-5' %>
        <%= link_to "削除する",post_path, method: :delete, class: 'btn btn-danger',"data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
  <% end %>
</div>