<div class="top-image">
  <div style="height:20px"></div>
  <div class="container edit-bg pt-5">
    <div>
      <% if @post.errors.any? %>
        <div id="error_explanation" class="alert alert-danger d-flex justify-content-center">
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <%= form_with model: @post, multipart: true do |f| %>
      <div class="row">
        <div class="col-md-5">
          <h3><%= f.text_field :name,style: "width:100%" %></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 h5">
          <%= f.text_field :address,style: "width:100%" %>
        </div>
      </div>

      <div class="my-3">
        <div class="post_drop_box_container">
          <div class="prev_box_container">
            <% @post.images.each do |image| %>
              <div class="hidden-checkbo">
                <%= f.check_box :image_ids, {multiple: true }, image.id, false %>
              </div>
              <div class="edit-prev-content">
                <div class="preview-box">
                  <div class="img-box" >
                  <label for="post_image_ids_<%= image.id %>">
                    <%= image_tag image, alt: "preview" %>
                  </label>
                  </div>
                  <div class="under-box">
                    <div class="delete-box" >
                      <i class="fas fa-trash-alt" style="color: #636974;"></i>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="label-content">
            <%= f.label :"image_#{@post.images.length}", class: "label-box", id: "label-box-#{@post.images.length}" do %>
              ファイルを選択
            <% end %>
          </div>
          <div class="hidden-content">
            <%= render 'edit-preview' %>
          </div>
        </div>
      </div>

      <div class="my-4">
        <%= f.text_area :introduction %>
      </div>

      <div class="tag-list">
        <p>~系統~</p>
        <div class="my-4">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class="tag-list-item" type="radio">
              <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tag-list">
        <p>~店の雰囲気~</p>
        <div class="my-4">
          <%= f.collection_check_boxes(:shop_tag_ids, ShopTag.all, :id, :name) do |shop_tag| %>
            <div class="tag-list-item" type="radio">
              <%= shop_tag.label class: 'form-check-label' do %>
                <%= shop_tag.check_box class: 'form-check-input' %>
                <%= shop_tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <table class="table table-borderless mt-5">
        <tr>
          <th class="table1">twitter</th>
          <td><%= f.text_area :twitter %></td>
        </tr>
        <tr>
          <th class="table1">facebook</th>
          <td><%= f.text_area :facebook %></td>
        </tr>
        <tr>
          <th class="table1">instagram</th>
          <td><%= f.text_area :instagram %></td>
        </tr>
      </table>

      <div class="text-center">
        <div class="m-3">
          <%= f.submit "更新する",class: 'btn btn-success mr-5' %>
          <%= link_to "削除する",post_path, method: :delete, class: 'btn btn-danger',"data-confirm" => "本当に削除しますか？" %>
        </div>

        <div class="m-3">
          <%= link_to "キャンセル",post_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div style="height:20px"></div>
</div>