<div class="container">
  <div class="text-center m-5">
    <h3>新規作成</h3>
  </div>
  <div>
    <%= form_with model: @post do |f| %>
    <div class="row mt-3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <%= f.file_field :image, multiple: true, class: "img_field" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"></div>
      <div class="col-md-2 h5">
        <%= f.label :"古着屋名" %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"></div>
      <div class="col-md-2 h5">
        <%= f.label :"住所" %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :address,size: 47 %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"></div>
      <div class="col-md-2 h5">
        <%= f.label :"紹介文" %>
      </div>
      <div class="col-md-6">
        <%= f.text_area :introduction,size: "50x5" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"></div>
      <div class="col-md-2 h5">
        <%= f.label :"系統" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="form-check">
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <%= f.submit "投稿する", class: "submit1 btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</div>