<div class="top-image">
  <div style="height:10px"></div>
  <div class="new-bg">
    <div class="new-inner">
      <div class="text-center p-5 font-type1">
        <h3>新規作成</h3>
      </div>

      <div>
        <% if @post.errors.any? %>
          <div id="error_explanation" class="alert alert-danger d-flex justify-content-center">
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div>
        <%= form_with model: @post, multipart: true do |f| %>
        <%= render "public/homes/preview" %>
        <table class="table table-borderless">
          <tr>
            <th class="table1"></th>
            <td class="up-btn">
              <label for="post_image">ファイルを選択</label>
              <input class="img_field" id="post_image" type="file" name="post[image][]" multiple="multiple">
            </td>
          </tr>
          <tr>
            <th class="table1"><%= f.label :"古着屋名" %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th class="table1"><%= f.label :"住所" %></th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th class="table1"><%= f.label :"紹介文" %></th>
            <td><%= f.text_area :introduction %></td>
          </tr>
          <tr>
            <th class="table1"><%= f.label :"系統" %></th>
            <td>
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class="form-check">
                  <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table1"><%= f.label :"雰囲気" %></th>
            <td>
              <%= f.collection_check_boxes(:shop_tag_ids, ShopTag.all, :id, :name) do |shop_tag| %>
                <div class="form-check">
                  <%= shop_tag.label class: 'form-check-label' do %>
                    <%= shop_tag.check_box class: 'form-check-input' %>
                    <%= shop_tag.text %>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table1">twitter</th>
            <td><%= f.text_area :twitter %></td>
          </tr>
          <tr>
            <th class="table1">facebook</th>
            <td><%= f.text_area :facebook %></td>
          </tr>
          <tr>
            <th class="table1">instagram</th>
            <td><%= f.text_area :instagram %></td>
          </tr>
          <tr>
            <th></th>
            <td id="submit"><%= f.submit "投稿する", class: "submit1 btn btn-success" %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
  <div style="height:10px"></div>
</div>