<div class="container">
  <div class="text-center m-5 font-type1">
    <h3>新規作成</h3>
  </div>

  <div>
    <% if @post.errors.any? %>
      <div id="error_explanation" class="alert alert-danger d-flex justify-content-center">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <%= form_with model: @post do |f| %>
    <table class="table table-borderless">
      <tr>
        <th style="width:200px; height:50px;"></th>
        <td><%= f.file_field :image, multiple: true, class: "img_field" %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;"><%= f.label :"古着屋名" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;"><%= f.label :"住所" %></th>
        <td><%= f.text_field :address,size: 47 %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;"><%= f.label :"紹介文" %></th>
        <td><%= f.text_area :introduction,size: "50x5" %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;"><%= f.label :"系統" %></th>
        <td>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class="form-check">
              <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "投稿する", class: "submit1 btn btn-success" %></td>
      </tr>
    </table>
    <% end %>
  </div>

</div>