<div class="container mt-5">
  <div class="d-flex justify-content-end">
    <% if @post.user == current_user %>
      <%= link_to "編集する",edit_post_path(@post.id), class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-9 col-8">
      <h2><%= @post.name %></h2>
    </div>
    <div class="col-md-2 col-sm-3 col-4">
      <%= render 'favorites',post: @post %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 h5">
      <%= @post.address %>
    </div>
  </div>

  <div class="d-flex flex-row overflow-auto">
    <% if @post.get_image.attached? %>
      <% @post.image.each do |image| %>
        <%= image_tag image,class: 'my-4 mr-3', size: "200x200" %>
      <% end %>
    <% end %>
  </div>

  <div class="row my-4 ">
    <div class="col-md-7 mb-4 font1">
      <%= @post.introduction %>
    </div>
    <div class="col-md-1"></div>
    <ul class="col-md-3 ml-2">
      <% @post.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="row border-top">
    <p class="h5 ml-2 my-3">コメント(<%= @post.comments.count %>)</p>
  </div>
  <div class="row ml-2">
    <%= image_tag current_user.get_profile_image, class:'rounded-circle', size: "40x40" %>
    <span class="h5 ml-3"><%= current_user.name %></span>
  </div>
  <div class="row mt-3 ml-2">
    <% unless current_user.name == "ゲスト" %>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, placeholder:"コメントをここに", size: "30x2" %>
        <%= f.submit "送信する" ,class: "btn btn-secondary" %>
      <% end %>
    <% end %>
  </div>
  <div class="row mt-2 border flex-column">
    <% @post.comments.each do |comment| %>
    <div class="m-2 ">
      <%= image_tag comment.user.get_profile_image, class:'rounded-circle', size: "30x30" %>
      <span class="m-2 h5"><%= comment.user.name %></span>
      <span class="ml-4 h6"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
      <div class="ml-5 font1 d-flex bd-highlight">
        <%= comment.comment %>
        <span class="ml-auto">
        <% if comment.user == current_user %>
          <%= link_to "削除",post_comment_path(comment.post,comment), method: :delete, class: "btn btn-danger ml-3" %>
        <% end %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>