<div class="d-flex flex-row overflow-auto">
  <%= image_tag 'no_image.jpg', class: 'img_prev new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev1 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev2 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev3 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev4 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev5 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev6 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev7 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev8 new-img' %>
  <%= image_tag 'no_image.jpg', class: 'img_prev9 new-img' %>
</div>
