<%= link_to posts_path({tag_id:1}),class: 'm-3 link' do %>
  <%= image_tag 'IMG_75300.png',size: "150x150" %>
  <p class="text-dark text-center text-b">ストリート系</p>
<% end %>

<%= link_to posts_path({tag_id:2}),class: 'm-3 link' do %>
  <%= image_tag 'IMG_75310.png',size: "150x150" %>
  <p class="text-dark text-center text-b">アメカジ系</p>
<% end %>

<%= link_to posts_path({tag_id:3}),class: 'm-3 link' do %>
  <%= image_tag 'IMG_75320.png',size: "150x150" %>
  <p class="text-dark text-center text-b">ミリタリー系</p>
<% end %>

<%= link_to posts_path({tag_id:4}),class: 'm-3 link' do %>
  <%= image_tag 'IMG_75330.png',size: "150x150" %>
  <p class="text-dark text-center text-b">ヨーロッパ古着系</p>
<% end %>

<%= link_to posts_path({tag_id:5}),class: 'm-3 link' do %>
  <%= image_tag 'IMG_75340.png',size: "150x150" %>
  <p class="text-dark text-center text-b">きれいめカジュアル系</p>
<% end %>

<%= link_to posts_path({tag_id:6}),class: 'm-3 link' do %>
  <%= image_tag 'IMG_75350.png',size: "150x150" %>
  <p class="text-dark text-center text-b">ワーク系</p>
<% end %>
