<div class="top-image">
  <% if user_signed_in? %>
    <div class="container pt-5">
      <h3 class="font-type1 text-center">タグ検索</h3>
      <div class="d-flex flex-row overflow-auto border-bottom">
        <%= render "public/homes/tag" %>
      </div>
    </div>

    <div class="container py-5">
      <h3 class="font-type1 text-center">最新の投稿</h3>
      <div class="d-flex flex-row overflow-auto">
        <% @posts.each do |post| %>
          <div class="top-bg m-3">
            <% if post.get_image.attached? %>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image[0], class: "top-img" %>
              <% end %>
              <p class="text-dark mt-3 h5">
                <%= post.name %>
              </p>
              <p class="top-int mt-3">
                <%= post.introduction %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div style="height:100px;"></div>
    <div class="text-center m-5" style="height:600px;">
      <h2>HURUGIYAへようこそ。</h2><br>
      <h2>ログインをして新しい古着屋を見つけましょう！</h2>
      <div class="mt-5 d-flex justify-content-center">
        <%= link_to "ログイン",new_user_session_path, class:"btn btn-primary mr-5 submit1" %>
        <%= link_to "新規登録",new_user_registration_path, class:"btn btn-success submit1" %>
      </div>
    </div>
  <% end %>
</div>