<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete, remote: true, class: 'h2 link' do %>
      <i class="fas fa-heart heart"></i>
    <% end %>
    <span class="h5">(<%= post.favorites.count %>)</span>
  </p>
<% else %>
  <% if current_user.name == "ゲスト" %>
  <p style="pointer-events: none;">
    <%= link_to post_favorites_path(post), method: :post, remote: true, class: 'h1 guest1' do %>
      ♡
    <% end %>
    <span class="h5">(<%= post.favorites.count %>)</span>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, remote: true, class: 'h2 link' do %>
      <i class="far fa-heart heart"></i>
    <% end %>
    <span class="h5">(<%= post.favorites.count %>)</span>
  </p>
  <% end %>
<% end %>
