<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete, remote: true, class: 'h2 link favorite-btn' do %>
      <i class="fas fa-heart heart"></i>
      <span class="h5 text-dark">(<%= post.favorites.count %>)</span>
    <% end %>
  </p>
<% else %>
  <% if current_user.name == "ゲスト" %>
  <p style="pointer-events: none;">
    <%= link_to post_favorites_path(post), method: :post, remote: true, class: 'h2' do %>
      <i class="far fa-heart heart guest1"></i>
    <% end %>
    <span class="h5 guest1">(<%= post.favorites.count %>)</span>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, remote: true, class: 'h2 link favorite-btn' do %>
      <i class="far fa-heart heart"></i>
      <span class="h5 text-dark">(<%= post.favorites.count %>)</span>
    <% end %>
  </p>
  <% end %>
<% end %>
