<div class="top-image">
  <div style="height:100px"></div>
  <div class="box shadow-lg">
    <div class="box-inner">
      <div class="text-center pt-5 pb-3 font-type1">
        <h2>新規会員登録</h2>
      </div>

      <%= form_with model: @user, url: user_registration_path do |f| %>
        <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger d-flex justify-content-center">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="error-font"><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div>
          <%= f.label :"ユーザー名：" %><br>
          <%= f.text_field :name, autofocus: true, placeholder:"name" %>
        </div>
        <div class="mt-3">
          <%= f.label :"メールアドレス：" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'mt-1 login-box',placeholder:"***@example.com" %>
        </div>
        <div class="mt-3">
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)：</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:'mt-1 login-box',placeholder:"******" %>
        </div>
        <div class="mt-3">
          <%= f.label :"パスワード(確認用)：" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'mt-1 login-box',placeholder:"******" %>
        </div>
        <div class="actions mt-4 mb-5 ">
          <%= f.submit "新規登録" ,class:"btn btn-success login-btn" %>
        </div>
      <% end %>

      <div class="text-center border-top">
        <p class="mt-5">
          <span>ログインをする方は</span>
          <%= render "public/shared/links" %>
        </p>
      </div>
    </div>
  </div>
  <div style="height:100px"></div>
</div>
