<div class="container" style="height:600px;">
  <div class="text-center m-5 font-type1">
    <h4><%= @user.name %>さんの会員情報</h4>
  </div>
  <%= form_with model: @user,url: admin_user_path(@user.id), method: :patch do |f| %>
    <table class="d-flex justify-content-center my-5">
      <tr>
        <th style="width:200px; height:50px;">プロフィール画像</th>
        <td><%= image_tag @user.get_profile_image, size: "100x100" %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;">会員ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;">ユーザー名</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;">メールアドレス</th>
        <td><%= f.email_field :email, size: 30 %></td>
      </tr>
      <tr>
        <th style="width:200px; height:50px;">会員ステータス</th>
        <td>
          <%= f.radio_button :is_deleted,false %>
          <%= f.label :is_deleted,"有効", value: false %>
          <%= f.radio_button :is_deleted,true ,class:'ml-3' %>
          <%= f.label :is_deleted,"退会", value: true %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "変更を保存", class:'btn btn-success' %></td>
      </tr>
    </table>
  <% end %>
</div>