<div class="container">
  <div class="text-center m-5">
    <h3>プロフィール編集</h3>
  </div>
  <%= form_with model:@user, url: users_mypage_path, method: :patch do |f| %>
    <div class="text-center">
      <%= f.file_field :profile_image %>
    </div>
    <div class="row mt-5">
      <div class="col-3"></div>
      <div class="col-2">
        <%= f.label :"ユーザー名" %>
      </div>
      <div class="col-4">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-2">
        <%= f.label :"メールアドレス" %>
      </div>
      <div class="col-4">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-5"></div>
      <div class="col-4">
        <%= f.submit "変更を保存する", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>