<!DOCTYPE html>
<html>
  <head>
    <title>HURUGIYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <div>
      <header class="border-bottom bg-color">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/"><span class="h3 font-title">HURUGIYA</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <p id="notice" class="ml-5 mt-4">
            <%= flash[:notice] %>
          </p>

          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item mr-2 h5 font-type1">
              <%= link_to "会員一覧",admin_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item mr-2 h5 font-type1">
              <%= link_to "コメント一覧",admin_comments_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item mr-5 h5 font-type1">
              <%= link_to "ログアウト",destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>

          <% elsif user_signed_in? %>
            <li class="nav-item font-type1">
              <% if current_user.name == "ゲスト" %> <!--ゲストログインしているか判断*/-->
                <div style="pointer-events: none;">
                  <%= link_to new_post_path, class: 'nav-link' do %>
                    <span class="guest1"><i class="fas fa-plus-circle mr-1"></i>新規作成</span>
                  <% end %>
                </div>
              <% else %>
                <%= link_to new_post_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-plus-circle mr-1"></i>新規作成
                <% end %>
              <% end %>
            </li>
            <li class="nav-item font-type1">
              <%= link_to posts_path, class: 'nav-link text-dark ' do %>
                <i class="fas fa-tshirt mr-1"></i>紹介一覧
              <% end %>
            </li>
            <li class="nav-item font-type1">
              <% if current_user.name == "ゲスト" %>
                <div style="pointer-events: none;">
                  <%= link_to posts_map_path, class: 'nav-link' do %>
                    <span class="guest1"><i class="fas fa-map-marked-alt mr-1"></i>マップ</span>
                  <% end %>
                </div>
              <% else %>
                <%= link_to posts_map_path, class: 'nav-link text-dark ' do %>
                  <i class="fas fa-map-marked-alt mr-1"></i>マップ
                <% end %>
              <% end %>
            </li>
            <li class="nav-item font-type1">
              <%= link_to about_path, class: 'nav-link text-dark' do %>
                <i class="fas fa-question-circle mr-1"></i>概要
              <% end %>
            </li>
            <li class="nav-item font-type1">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark ' do %>
                <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
              <% end %>
            </li>
            <li class="nav-item mr-3 mt-2  font-type1">
              <%= link_to users_mypage_path, class: 'text-dark link' do %>
                <%= image_tag current_user.get_profile_image,class: 'rounded-circle', size: "35x35" %>
                <span class="h5"><%= current_user.name %></span>
              <% end %>
            </li>

          <% else %>
            <li class="nav-item mr-4 mt-2 font-type1">
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:'nav-link text-white btn btn-secondary' %>
            </li>
            <li class="nav-item mr-4 mt-2 font-type1">
              <%= link_to "ログイン",new_user_session_path, class: 'nav-link text-white btn btn-primary' %>
            </li>
            <li class="nav-item mr-4 mt-2 font-type1">
              <%= link_to "新規登録",new_user_registration_path, class: 'nav-link text-white btn btn-success' %>
            </li>
            <li class="nav-item mr-5 mt-2">
              <%= link_to about_path, class: 'nav-link' do %>
                <i class="fas fa-question-circle h3"></i>
              <% end %>
            </li>
          <% end %>
          </ul>
        </nav>
      </header>

      <main class="mb-auto ">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
        <%= yield %>
        <%= javascript_pack_tag 'animation' %>
      </main>

      <footer>
        <div class="text-center pt-4">
          <p>2023 Hurugiya.inc</p>
        </div>
      </footer>
    </div>
  </body>
</html>
